*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(110, 29, 5);
    /* height: 100%;
    width: 100%; */
}


nav{
    height: 53px;
    background-color: rgb(59, 4, 59);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading-1{
    color: rgb(18, 206, 49);
    font-size: 33px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-left: 11px;
}

.list{
    list-style: none;
    display: flex;
    text-decoration: none;
    gap: 11px;
    margin-right: 11px;
}

.list li{
    font-size: 20px;
    color: bisque;
    padding: 12px;
}

.heading-2{
    font-size: 60px;
    color: rgb(218, 119, 62);
    margin: 22px;
    text-align: center;
}

.img{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img img{
    margin: 40px;
    padding: 10px;
    text-align: center;
    sh
    /* width: 399px;
    height: 304px; */
}